form#query(action='/', method='post')
  fieldset
    legend
    .row
      mixin field(12, 'text', 'tweet-text', 'Word, Phrase or Hashtag', null, '#bieber, bieber, justin bieber', true, 'userQuery')
    .row
      .small-9.columns: button#start.round.small.expand.success Get a Pulse