form#query(action='/', method='post')
  fieldset
    legend Search Twitter
    .row
      mixin field(12, 'text', 'tweet-text', 'Word, Phrase or Hashtag', null, 'bieber, justin bieber, #bieber', true, 'userQuery')
    .row
      .small-9.columns: button#start.round.small.expand.success Get a Pulse