extends ../template/layout
include ../mixins/form-helper


block content
  .small-9.columns#map
    #map-canvas
  .small-3.columns
    include form-query
    #searchStatus
      span Searching:
      h2#queryText
      span Search status:
      h3#status
    #controls
      #searchControls
        h5 Tweet Controls
        button#stop.small.alert.round Stop
        button#resume.small.success.radius.round.hidden Resume
        button#clear.small.round Clear Tweets
    #stats Stats placeholder
      #tweetCounter
      #timer
      #scroll
        //- if tweet
          p= tweet.screen_name
