extends ../template/layout
include ../mixins/form-helper


block content
  .row#map-row
    .small-9.columns#map-container
      #map-canvas
    .small-3.columns
      include form-query
      #controls
        h3#status
        button#stop.small.alert.radius Stop
        button#resume.small.success.radius Resume
        button#reset.small.radius Clear
      #stats Stats placeholder
        h2#query-text
      #data

  //- .row
  //-   #controls
  //-     .small-2.small-offset-8.columns: button#stop.small.alert.radius Stop
  //-     .small-2.columns: button#reset.small.success.radius Reset
  //- .row
  //-   #stats
  //-     .small-4.small-offset-8.columns

