extends ../template/layout
include ../mixins/form-helper


block content
  .row#mapRow
    .small-9.columns#mapContainer
      #map-canvas
    .small-3.columns
      include form-query
      #searchStatus
        span Search status:
        h3#status
        span Searching:
        h2#queryText
      #controls
        #searchControls
          h5 Controls:
          button#stop.small.alert.radius Stop
          button#resume.small.success.radius.hidden Resume
        #mapControls
          button#clear.tiny.radius Clear Tweets
          button#newSearch.tiny.radius.success Original Zoom
      #stats Stats placeholder
      #data

  //- .row
  //-   #controls
  //-     .small-2.small-offset-8.columns: button#stop.small.alert.radius Stop
  //-     .small-2.columns: button#reset.small.success.radius Reset
  //- .row
  //-   #stats
  //-     .small-4.small-offset-8.columns

