nav.top-bar
  ul.title-area
    li.name
      h1#title.subheader: a(href="/") Get a Pulse
    li.toggle-topbar.menu-icon
      img#navIcon(src="/images/icon_b.png")
      a(href="#")
        span Menu