script(src="/javascripts/vendor/jquery-1.10.2.js")
script(src="/javascripts/vendor/foundation.min.js")
script(src="/javascripts/vendor/lodash.js")
script(src="/javascripts/vendor/moment-with-langs.js")
script(src="/socket.io/socket.io.js")
script(src="/javascripts/app/utilities.js")
script(src="https://maps.googleapis.com/maps/api/js?&sensor=true")
script(src="/javascripts/app/app.js")
script(src="/javascripts/vendor/qunit-1.12.0.js")
script(src="/javascripts/tests/master.js")